.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

a[aria-expanded=true] .fa-angle-down {
  display: none;
}

a[aria-expanded=false] .fa-times {
  display: none;
}

.div_buttons_mod {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-left: 20px;
}

.module_button {
  background-color: red; 
  color: white ;
}

.extra-padding-mod {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}